body{
	margin: 0;
	font-family: arial;
	background-image: url(../img/welcome.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.si{
	background-color: rgb(0,0,0, 0.6);
	text-align: center;
	margin: auto;
	margin-top: 130px;
	width: 480px;
	padding: 30px;
	border-radius: 20px;
	animation: fading 10s infinite;
	animation: opac 0.6s;
	margin-bottom: 300px;
}

@keyframes opac{
	from { opacity:0 } 
	to { opacity:1 }
}

.h1{
	color: white;
	font-size: 40px;
	padding-bottom: 40px;
}

.cell{
	width: 400px;
	padding: 12px 20px;
	border: transparent;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 16px;
}

.button{
	border: none;
	outline: none;
	height: 50px;
	width: 200px;
	background: white;
	color: black;
	font-size: 20px;
	border-radius: 10px;
}

.button:hover{
	cursor: pointer;
	background: #d6d600;
}

.s_alert{
	position: absolute;
	width: 100%;
	top: 0px;
	height: 55px;  
	background-color: #90EE90;
	z-index: 1;
}

.s_allert{
	padding-top: 14px;
	text-align: center;
	color: #006400;
	font-size: 20px;
	font-weight: bold;
}

.d_alert{
	position: absolute;
	width: 100%;
	top: 0px;
	height: 55px;  
	background-color: #F08080;
	z-index: 1;
}

.d_allert{
	padding-top: 14px;
	text-align: center;
	color: #8B0000;
	font-size: 20px;
	font-weight: bold;
}